* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #ededed;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    /* position: relative;
    z-index: 0; */
}

.container {
    background-color: white;
    width: 100%;
    margin: 0 auto;
    height: 1400px;
}

.nav {
    width: 100%;
    height: 96px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 20x;
    height: 20px;
    background: blue;
    margin-right: auto;
}

.nav_items {
    display: flex;
    flex-flow: row nowrap;
    margin: 0 auto;
    flex-basis: 80%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

.nav_actions {
    margin-left: auto;
}

.black {
    background: #000;
    color: white;
}

.white {
    background: #fff;
    color: black;
}

.searchbar {
    background-color: green;
    width: 320px;
    margin: 0 auto;
    height: 56px;
}

.stick {
    position: fixed;
    top: 32px;
    left: 32px;
    animation: searchbar 0.5s ease 0.2 1;
}

@keyframes searchbar {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.carousel {
    background: blue;
    ;
    width: 100%;
    position: relative;
}

div.controlleft,
div.controlright {
    width: 30px;
    height: 30px;
    background: #000;
    /* postition absolute requires its parent to be positioned */
    position: absolute;
    top: 50px;
}

.controlleft {
    left: 32px;
}

.controlright {
    right: 32px;
}

.card_container {
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-flow: row nowrap;
    height: 220px;
}

.card {
    min-width: calc(100% / 5);
    height: 200px;
    background: #ccc;
    border: 1px solid #000 padding: 8px;
}

.hide {
    display: none;
}


/* feed need to be just flex row */

.feed {
    display: flex;
    flex-flow: row wrap;
}


/* click this will launch the modal  */

#card_selected {}

.modal {
    /* going to have an overlay and then a box on top  */
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
    background: rgb(0, 0, 0, 0.7);
}

.modal_close {
    width: 30px;
    height: 30px;
    background: blue;
    margin: 0 auto;
    z-index: 5;
}

.modal_body {
    width: 400px;
    height: 600px;
    background: #fff;
    margin: 0 auto;
    z-index: 40px;
}